<p>
  <span class="clock-date"></span>
</p>
<br />

<div>
	<img src="../../images/phonebook50px.png" alt="" />
</div>

<div>
	<img src="../../images/bell_icon50px.png" alt="" />
</div>

<p>
  <span class="clock-time"></span>
</p>